<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjz.mapper.VideoMapper">	<!-- namespace必须写 -->
    <select id="queryAllDesc" parameterType="int" resultType="Video">
        select * from video order by like_num desc limit #{pageStart},5;
    </select>
</mapper>